.main{
    background-image: url("/main.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 2rem;
        padding-left: 2rem;
        height: 100vh;
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
}