.main{
    margin-top: 2rem;
    margin-left: 2rem;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

.main img{
    width: 4rem;
    height: 4rem;
}

.btn_grp{
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    margin-right: 30rem;
}