.main{
    margin-top: 2rem;
    margin-left: 2rem;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

.main img{
    width: 4rem;
    height: 4rem;
}

.btn_grp{
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    margin-right: 30rem;
}

.btn_grp input {
    background-color: red;
    border-radius: 0.8rem;
    color: white;
    text-align: center;
}
::placeholder {
    color: white;
    opacity: 1;
}

.btn_grp button {
    padding: 0.4rem;
    background-color: red;
    border-radius: 0.8rem;
    color: white;
    min-width: 2rem;
    text-align: center;

    &:hover {
        font-size: large;

    }
}